@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,550;1,300&display=swap');


.form-group{
    text-align: left;
}
.empleados{
    
    table{
        
        thead{
            background-color:#6AD9FA ;
        }
    }
    font-family: 'Karla', sans-serif;
    
}